.sawprofile_box{
	padding: 5px; 
	background: none repeat scroll 0 0 #FFFFFF; 
	border: 1px solid #999999; 
	border-radius: 5px 5px 5px 5px; 
	border-color: #e1e1e1;
}

.sawprofile_title{
	color: #27566F; 
    font-size: 14px;
    font-weight: normal;
	background-color: #efefef; 
	height: 20px; 
	padding:2px 0px 0px 5px;  
	margin: -4px -4px 4px;
}