DB_HOST=xxxxxxxxxxxxxx
DB_USER_NAME=xxxxxxxxxxxxxx
DB_PASSWORD=xxxxxxxxxxxxxx
DB_NAME=user

REDIS_SOCKET_TYPE=tcp
REDIS_SOCKET=
REDIS_TIMEOUT=0
REDIS_HOST=xxxxxxxxxxxxxx
REDIS_PASSWORD=xxxxxxxxxxxxxx
REDIS_PORT=6379

HTTP_PROTOCOL=xxxxxx
SAVE_QUERIES=0
CACHE_ADAPTER=redis
CACHE_ENABLE=1

SERVER_NAME=xxxxxxx